<div class="setting container-fluid">
  <h3>设置中心</h3>
  <ul class="list-group">
    <li class="list-group-item-heading">
      消息提醒
      <lable class="switch switch-list-item">
        <input type="checkbox" class="switch-btn">
        <div class="switch-toggle"></div>
      </lable>
    </li>
    <li class="list-group-item-heading">
      非WIFI下使用省流模式
      <lable class="switch switch-list-item">
        <input type="checkbox" class="switch-btn">
        <div class="switch-toggle"></div>
      </lable>
    </li>
    <li class="list-group-item-heading">
      自动分享到社交网络
      <lable class="switch switch-list-item">
        <input type="checkbox" class="switch-btn">
        <div class="switch-toggle"></div>
      </lable>
    </li>
    <li class="list-group-item-heading">
      清空缓存
      <span>2048kb</span>
    </li>
  </ul>
</div>