<div ng-controller="defaultCtrl">
  <div class="container-fluid" ng-include="templateUrl.header"></div>
</div>

<div class="home container">
  <div class="banner">
    <img src="../images/banner.jpg" alt="">
  </div>
  <div class="column row">
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div class="box"></div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div class="box"></div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div class="box"></div>
    </div>
  </div>
  <ul class="list row">
    <li class="col-md-12 col-sm-12 col-xs-12">
      <a ui-sref="info-1"><i class="glyphicon glyphicon-earphone"></i></a>
        some introduce text
        some introduce text
        some introduce text
        some introduce text
    </li>
    <li class="col-md-12 col-sm-12 col-xs-12">
      <a ui-sref="info-1"><i class="glyphicon glyphicon-earphone"></i></a>
      some introduce text
      some introduce text
      some introduce text
      some introduce text
    </li>
    <li class="col-md-12 col-sm-12 col-xs-12">
      <a ui-sref="info-1"><i class="glyphicon glyphicon-earphone"></i></a>
      some introduce text
      some introduce text
      some introduce text
      some introduce text
    </li>
    <li class="col-md-12 col-sm-12 col-xs-12">
      <a ui-sref="info-1"><i class="glyphicon glyphicon-earphone"></i></a>
      some introduce text
      some introduce text
      some introduce text
      some introduce text
    </li>
  </ul>
</div>