<div class="my-console container-fluid">
  <div class="row">
    <div class="col-xs-3 col-sm-3">
      <a ui-sref="main">
        <i class="fa fa-home"></i>
        首页
      </a>
    </div>
    <div class="col-xs-3 col-sm-3">
      <a ui-sref="house">
        <i class="fa fa-leaf"></i>
        叶子
      </a>
    </div>
    <div class="col-xs-3 col-sm-3">
      <a ui-sref="find">
        <i class="fa fa-search"></i>
        发现
      </a>
    </div>
    <div class="col-xs-3 col-sm-3">
      <a ui-sref="index">
        <i class="fa fa-user"></i>
        我
      </a>
    </div>
  </div>
</div>