<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="thumbnail">
      <h1>
        <i class="glyphicon glyphicon-earphone"></i>
      </h1>
    </div>
    <div class="caption">
      <p>这是一大堆介绍的信息。。。。。。。。省略200字。。。。。。</p>
      <p>这是一大堆介绍的信息。。。。。。。。省略200字。。。。。。</p>
      <p>这是一大堆介绍的信息。。。。。。。。省略200字。。。。。。</p>
      <p>这是一大堆介绍的信息。。。。。。。。省略200字。。。。。。</p>
      <p>这是一大堆介绍的信息。。。。。。。。省略200字。。。。。。</p>
      <p>这是一大堆介绍的信息。。。。。。。。省略200字。。。。。。</p>
      <p>这是一大堆介绍的信息。。。。。。。。省略200字。。。。。。</p>
    </div>
  </div>
</div>